<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Covid-19 Data Visualisation - By Population Age Structure</title>
        <meta name="author" content="Damian Wojtunik">
        <meta name="description" content="">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="theme-color" content="#000">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="media/favicon.png">
        <link rel="stylesheet" href="styles/toggle.css">
        <link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/scatterplot.css">
        <script src="scripts/d3.min.js"></script>
        <script src="scripts/script.js"></script>
    </head>
    <body>
        <nav>
            <div class="title-logo">
                <img src="media/world-bright.png">
                <h1><a href="/">Covid-19 Data Visualisation</a></h1>
            </div>
            <div class="nav-buttons">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/visualisations">Visualisations</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div class="title-area">
                <h2>Relationship between the median age of a population and the number of Covid-19 deaths per million</h2>
                <select id="data-menu">
                    <option disabled>Select the visualisation...</option>
                    <option value="median">Median Age and Mortality (Correlation)</option>
                    <option value="agedOver60">People 60+ and Mortality (Correlation)</option>
                    <option value="density-median">Median Age (Density)</option>
                    <option value="density-over60">People Aged 60+ (Density)</option>
                    <option value="countries-median">Countries by Median Age</option>
                    <option value="countries-over60">Countries by Population 60+</option>
                    <option value="countries-deaths">Countries by Mortality</option>
                </select>
            </div>
            <div class="functional-area">
                <div class="graph-area">
                    <svg id="canvas">

                    </svg>
                </div>
                <div class="info-area">
                    <h3>Description</h3>
                    <p class="graph-description">This scatter plot investigates a possible correlation between the <b>median age</b> of the population and the Covid-19 mortality measures as <b>deaths per million</b>. Shapes represent continents, while colour saturation - cases per million. Hover over the mark to read the details. Toggle the trend line and country names using <i>button switches</i> below.</p>
                    
                    <div class="user-option" id="trend-option">
                        <div class="option-icon pointer">
                            <label class="switch">
                                <input type="checkbox" id="toggle-trend">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <span class="option-label">Show trend line</span>
                    </div>
                    <div class="user-option" id="names-option">
                        <div class="option-icon pointer">
                            <label class="switch">
                                <input type="checkbox" id="toggle-names">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <span class="option-label">Show country names</span>
                    </div>
                    <div class="user-option pointer" id="summary-option">
                        <div class="option-icon">
                            <img src="media/list.svg" alt="Summary">
                        </div>
                        <span class="option-label">Preview data summary</span>
                        <input type="hidden" id="data-summary" value="">
                    </div>
                    <div class="user-option pointer" id="pdf-option">
                        <div class="option-icon">
                            <img src="media/pdf.svg" alt="PDF">
                        </div>
                        <span class="option-label">Save as PDF</span>
                    </div>
                    <div class="colour-blind">
                        <img src="media/eye.svg" alt="Eye">
                        <p>Colour Blind Friendly</p>
                    </div>
                    <div class="sources">
                        <p>Sources: <a href="https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F05_MEDIAN_AGE.xlsx" target="_blank">Median Age of Population</a> by the UN; <a href="https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F07_1_POPULATION_BY_AGE_BOTH_SEXES.xlsx" target="_blank">Population by Age Groups</a> by the UN; <a href="https://covid.ourworldindata.org/data/owid-covid-data.xlsx" target="_blank">Complete COVID-19 dataset</a> by OWID</p>
                    </div>
                </div>
            </div>
        </div>
        <footer><p>Covid-19 Data Visualisation in D3.js by Damian Wojtunik (2021) for 7CCSMSDV at King's College London</p></footer>
    </body>
</html>