/* 
    Acknowledgement - Copyrights attribution
    CSS code for toggle switch inspired by W3School tutorial
    Available here: https://www.w3schools.com/howto/howto_css_switch.asp
*/

:root {
    --nav-colour: #0d4a78;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.05rem;
	width: 1.05rem;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--nav-colour);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--nav-colour);
}

input:checked + .slider:before {
	-webkit-transform: translateX(1.5rem);
	-ms-transform: translateX(1.5rem);
	transform: translateX(1.5rem);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#names-option {
	margin-bottom: 1rem;
}

#names-option:hover, #trend-option:hover, #order-option:hover {
	transform: scale(1) !important;
}